@font-face {
    font-family: 'digital';
    src: url('police/DS-DIGI.TTF');
}

@font-face {
    font-family: 'bebas';
    src: url('police/BebasNeue.otf');
}

table {
    width: 100%;
}

body {
    background-color: #000000;
    color: #ffffff;
    overflow: hidden;
}

img {
    width: 30vh;
    height: 30vh;
}

.score {
    font-size: 30vh;
    font-family: 'digital';
}

.titre {
    font-size: 65px;
    font-family: 'bebas';
}

.time {
    font-size: 25vh;
    font-family: 'digital';
}


.start {
    background-color: #00BFFF;
    width: 70px;
    height: 35px;
}

.stop {
    background-color: #FF8C00;
    width: 70px;
    height: 35px;
}

.col {
    table-layout: fixed;
    width: 200px;
}

.valid {
    background-color: #FF4500;
    width: 70px;
    height: 20px;
}

.pause {
    background-color: #FF4500;
    width: 70px;
    height: 35px;
}

.reset {
    background-color: #8B0000;
    width: 70px;
    height: 35px;
}

.chgScore {
    background-color:#696969;
    width: 50px;
    height: 50px;
}

button {
    border-radius:0;
    border: none;
    color: #ffffff;
    width: 6vh;
    height: 6vh;
}

.fauteGR {
    background-color:#752323;
    width: 6vh;
    height: 6vh;
}

.fauteDR {
    background-color:#752323;
    width: 6vh;
    height: 6vh;
}

.fauteGB {
    background-color:#752323;
    width: 6vh;
    height: 6vh;
}

.fauteDB {
    background-color:#752323;
    width: 6vh;
    height: 6vh;
}

.containTime {
    width: 100vw;
    height: 33vh;
}
.containTitre {
    font-size: 8vh;
    font-family: 'bebas';
    width: 100vw;
    height: 5vh;
}