@font-face {
    font-family: 'digital';
    src: url('police/DS-DIGI.TTF');
}

@font-face {
    font-family: 'bebas';
    src: url('police/BebasNeue.otf');
}

table {
	width: 100vw;
    height: 100vh;
}

.col {
    table-layout: fixed;
    width: 33vw;
    height: 33vh;
}

body {
    background-color: #000000;
    color: #ffffff;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
}

.titre2 {
    margin-top: 0px;
}

.scoreR {
    font-size: 33vh;
    font-family: 'digital';
    margin-left: 0px;
}

.scoreB {
    font-size: 33vh;
    font-family: 'digital';
    margin-right: 00px;
}

.containTitre {
    font-size: 8vh;
    font-family: 'bebas';
    width: 100vw;
    height: 16vh;
}

.containTime {
    width: 100vw;
    height: 33vh;
}

.containLogo {
    width: 33vw;
    height: 33vh;
}

.containFaute {
    width: 50vw;
    height: 15vh;
}

.time {
    font-size: 33vh;
    font-family: 'digital';
}

button {
    border-radius:0;
    border: none;
    color: #ffffff;
}

.fauteGR {
    background-color:#752323;
    width: 6vh;
    height: 6vh;
}

.fauteDR {
    background-color:#752323;
    width: 6vh;
    height: 6vh;
}

.fauteGB {
    background-color:#752323;
    width: 6vh;
    height: 6vh;
}

.fauteDB {
    background-color:#752323;
    width: 6vh;
    height: 6vh;
}